.alert {
    align-items: center;
    border-radius: 16px;
    display: flex;
    gap: 6px;
    padding: 8px 12px;

    &--color-success {
        background-color: theme("colors.transparent.green");
        color: theme("colors.success");
    }

    &--color-info {
        background-color: theme("colors.transparent.blue");
        color: theme("colors.info");
    }

    &--color-warning {
        background-color: theme("colors.transparent.yellow");
        color: theme("colors.warning");
    }

    &--color-error {
        background-color: theme("colors.transparent.red");
        color: theme("colors.error");
    }
}
