:root {
    --color-black: #1b1b1b;

    --color-gray-100: #eeeeee;
    --color-gray-200: #d8d8d8;
    --color-gray-300: #b4b4b4;
    --color-gray-400: #929292;
    --color-gray-500: #737373;

    --color-white: #ffffff;

    --font-family: 'Patrick Hand', cursive;

    --font-display-lg: 64px/120% var(--font-family);
    --font-display: 48px/60px var(--font-family);
    --font-h1: 34px / normal var(--font-family);
    --font-h2: 28px/120% var(--font-family);
    --font-h3: 24px / normal var(--font-family);
    --font-body-lg: 22px/28px var(--font-family);
    --font-body: 18px/24px var(--font-family);
    --font-caption: 16px / normal var(--font-family);
    --font-tiny: 14px/18px var(--font-family);

    --color-blue-50: #f0f4ff;
    --color-blue-100: #e5ebfe;
    --color-blue-200: #cdd9fe;
    --color-blue-300: #91acfd;
    --color-blue-650: #6187fa;
    --color-blue-750: #3d69f2;
    --color-blue-800: #2856e0;
    --color-blue-850: #1d4bd6;
    --color-blue-950: #152e7a;
    --color-blue-1000: #111f49;

    --color-brown-700: #db850b;
    --color-brown-800: #b26c09;
    --color-brown-850: #965e0f;
    --color-brown-900: #80500d;
    --color-brown-950: #66420f;

    --color-green-50: #edfdf6;
    --color-green-100: #d1fae9;
    --color-green-200: #a5f3d2;
    --color-green-300: #6ee7b5;
    --color-green-600: #36d392;
    --color-green-700: #08a464;
    --color-green-800: #088752;
    --color-green-850: #047244;
    --color-green-900: #06603a;
    --color-green-950: #064c2f;

    --color-neutral-50: #f5f6f9;
    --color-neutral-100: #e9ecf5;
    --color-neutral-200: #dfe2eb;
    --color-neutral-350: #bdbfc7;
    --color-neutral-750: #5c5d61;
    --color-neutral-800: #47484d;
    --color-neutral-850: #38393d;
    --color-neutral-900: #2f2f33;
    --color-neutral-950: #171719;
    --color-neutral-1000: #0b0b0d;

    --color-purple-50: #f7f5ff;
    --color-purple-100: #ede7fe;
    --color-purple-200: #e1d7fe;
    --color-purple-300: #c6b4fd;
    --color-purple-700: #a689fa;
    --color-purple-750: #9370fa;
    --color-purple-800: #714ce0;
    --color-purple-850: #5f35de;
    --color-purple-900: #4621b5;
    --color-purple-950: #3b1d95;

    --color-red-50: #fef1f1;
    --color-red-100: #fee1e1;
    --color-red-200: #fec8c8;
    --color-red-300: #fca6a6;
    --color-red-650: #f87272;
    --color-red-750: #ef4343;
    --color-red-800: #e02d3c;
    --color-red-850: #ba2532;
    --color-red-900: #981b25;
    --color-red-950: #680d14;

    --color-yellow-50: #fffaeb;
    --color-yellow-100: #fff5d6;
    --color-yellow-200: #fee9a9;
    --color-yellow-300: #fdda72;
    --color-yellow-550: #fbcb3c;
}

body {
    font-weight: 400;
    font-style: normal;
    color: var(--color-black);
}
