.ui-typo-display-lg {
    font: var(--font-display-lg);
}

.ui-typo-display {
    font: var(--font-display);
}

.ui-typo-h1 {
    font: var(--font-h1);
}

.ui-typo-h2 {
    font: var(--font-h2);
}

.ui-typo-h3 {
    font: var(--font-h3);
}

.ui-typo-body-lg {
    font: var(--font-body-lg);
}

.ui-typo-body {
    font: var(--font-body);
}

.ui-typo-caption {
    font: var(--font-caption);
}

.ui-typo-tiny {
    font: var(--font-tiny);
}
